@page "/counter"

<PageTitle>Extract Subtitle</PageTitle>

<h1>SRT file</h1>

<!--<p role="status">Current count: @currentCount</p>-->
<p><InputFile OnChange="LoadSrtFile"/></p>

<button class="btn btn-primary" @onclick="extractSubtitle">Extract</button>

<textarea rows=50 cols=100 @bind="MyTexts" />

@code {
    string? MyTexts = null;

    async Task extractSubtitle()
    {
        if (srtFile == null)
            return;

        var sr = new System.IO.StreamReader(srtFile.DataStream);

        string? text = null;
        var text_list = new List<string>();

        while(true)
        {
            text = await sr.ReadLineAsync();
            if (text != null)
                text_list.Add(text);
            else
                break;
        }

        var tmp = text_list.Where(text => (text != "") && (text != null) && (int.TryParse(text, out _) == false) && (text.Contains("-->") == false) && (text.Substring(0,1) != "("));

        MyTexts = "";
        foreach(var st in tmp)
        {
            if (st.EndsWith(".") || st.EndsWith("!") || st.EndsWith("?"))
                MyTexts += st + "\n";
            else
                MyTexts += st + " ";
        }
    }


    SrtFile? srtFile = null;

    void LoadSrtFile(InputFileChangeEventArgs e)
    {
        var loadedFiles = e.GetMultipleFiles(1);

        srtFile = new SrtFile()
            {
                FileName = loadedFiles[0].Name,
                //Data = buf,
                Size = loadedFiles[0].Size,
                DataStream = loadedFiles[0].OpenReadStream(),
            };
    }

    class SrtFile
    {
        public string? FileName { get; set; }
        //public byte[]? Data { get; set; }
        public long Size { get; set; }
        public Stream DataStream { get; set; } = null!;
    }

}
