@page "/counter"

<PageTitle>Extract Subtitle</PageTitle>

<h1>SRT file</h1>

<!--<p role="status">Current count: @currentCount</p>-->
<p><InputFile OnChange="LoadSrtFile"/></p>

<button class="btn btn-primary" @onclick="extractSubtitle">Extract</button>

<textarea rows=50 cols=100 @bind="MyTexts" />

@code {
    string[]? MyTexts = {"New lines"};

    async Task extractSubtitle()
    {
        if (srtFile == null)
            return;

        //MyText = new List<string>();

        //var ms = new System.IO.MemoryStream(srtFile.Data);
        var sr = new System.IO.StreamReader(srtFile.DataStream);

        string? text = null;
        var text_list = new List<string>();

        while(true)
        {
            text = await sr.ReadLineAsync();
            if (text != null)
                text_list.Add(text);
            else
                break;
        }
        MyTexts = text_list.ToArray();
    }


    SrtFile? srtFile = null;

    void LoadSrtFile(InputFileChangeEventArgs e)
    {
        var loadedFiles = e.GetMultipleFiles(1);
        //var buf = new byte[loadedFiles[0].Size];

        //await loadedFiles[0].OpenReadStream().ReadAsync(buf);

        srtFile = new SrtFile()
            {
                FileName = loadedFiles[0].Name,
                //Data = buf,
                Size = loadedFiles[0].Size,
                DataStream = loadedFiles[0].OpenReadStream(),
            };
    }

    class SrtFile
    {
        public string? FileName { get; set; }
        //public byte[]? Data { get; set; }
        public long Size { get; set; }
        public Stream DataStream { get; set; } = null!;
    }

}
